<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.practicecactus.practicecactus">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".AnalyticsApplication"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppFullScreenTheme">
        <receiver
            android:name="com.google.android.gms.analytics.CampaignTrackingReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <service android:name="com.google.android.gms.analytics.CampaignTrackingService" />

        <receiver
            android:name="com.google.android.gms.analytics.AnalyticsReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.google.android.gms.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".Activities.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.PracticeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppFullScreenTheme" />
        <activity
            android:name=".Activities.MainMenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.SettingsEditorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.SessionDataActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.ShareActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.CreateAccountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.ChangePasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.CommunityActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.ExitSurveyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.ContactActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".Activities.ProgressActivity" />
    </application>

</manifest>